<%= form_with(model: materium, local: true) do |form| %>
  <% if materium.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(materium.errors.count, "error") %> prohibited this materium from being saved:</h2>

      <ul>
      <% materium.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre, id: :materium_nombre %>
  </div>

  <div class="field">
    <%= form.label :nivel %>
    <%= form.text_field :nivel, id: :materium_nivel %>
  </div>

  <div class="field">
    <%= form.label :descripcion %>
    <%= form.text_field :descripcion, id: :materium_descripcion %>
  </div>

  <div class="field">
    <%= form.label :objetivos %>
    <%= form.text_field :objetivos, id: :materium_objetivos %>
  </div>

  <div class="field">
    <%= form.label :bibliografia %>
    <%= form.text_field :bibliografia, id: :materium_bibliografia %>
  </div>

  <div class="field">
    <%= form.label :evaluacion %>
    <%= form.text_field :evaluacion, id: :materium_evaluacion %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
